.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.post_stack {
  display: flex;
  width: 50vw;
  background-color: aliceblue;
  border-radius: 10px;
  gap: 5px;
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.post_stack legend {
  font-weight: bold;
}

.post_user_address {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.post_user_address input {
  height: 30px;
  width: 30vw;
}

.post_title,
.post_content {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.post_title input {
  height: 50px;
}

.post_content textarea {
  height: 250px;
}

.post_btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
