@font-face {
  font-family: "SuncheonB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SuncheonB";
  font-weight: 700;
  font-style: normal;
  background: lavender;
  box-sizing: border-box;
  margin: 0;
}

/* 로그인 페이지 스타일 시트 (Login.js) */
.Login_container {
  width: 700px;
  height: 700px;
  margin: 70px auto auto auto;
  border-radius: 30px;
  position: relative;
  top: 6px;
}

.Login_two_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
}

.Login_position {
  position: relative;
  top: 50px;
}

.Login_h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  text-shadow: 0 1px 0 white, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 20px 20px rgba(0, 0, 0, 0.15);
}

.Login_id {
  margin-bottom: 30px;
}

.Login_pw {
  margin-bottom: 30px;
}

.Login_button > button {
  margin: 30px 20px 0px 0px;
  width: 420px;
  height: 40px;
  background-color: #166cea;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  font-family: "SuncheonB";
  font-weight: 700;
}

.Login_button > button:hover {
  transform: scale(1.05);
  background-color: #283593;
}
.Login_Signup {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Login_Signup > a {
  text-decoration: none;
  margin-top: 15px;
}

.kakao {
  color: #c6a700;
}

.Login_Signup > a:hover {
  color: white;
}

.Login_input {
  width: 400px;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #5e35b1;
  font-size: 18px;
  outline: none;
}

.Login_input:focus {
  border-bottom: 3px solid #12005e;
}

.Login_id > p {
  left: 140px;
}

.Login_pw > p {
  left: 140px;
}

input::-webkit-input-placeholder {
  color: black;
  padding: 10px;
  font-weight: 700;
}

/* 회원가입 페이지 스타일시트 (Signup.js) */
.Signup_container {
  width: 700px;
  height: 700px;
  margin: 70px auto auto auto;
}

.Signup_h1 {
  text-align: center;
  color: #7986cb;
  font-size: 45px;
  text-shadow: 0 1px 0 white, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 20px 20px rgba(0, 0, 0, 0.15);
}

.Signup_two_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Signup_two_container > div {
  margin-top: 20px;
}

.Signup_two_container > div > input {
  width: 400px;
  padding: 20px 10px 10px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #5e35b1;
  font-size: 18px;
  outline: none;
}

.Signup_two_container > div > p {
  padding-left: 20px;
}

.Signup_two_container > div > input:focus {
  border-bottom: 3px solid #4a148c;
}

.left {
  position: relative;
  right: 300px;
}

.Signup_btn {
  text-align: center;
  margin-top: 50px;
}
.Signup_btn > button {
  margin-left: 30px;
  width: 200px;
  height: 40px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  font-family: "SuncheonB";
  font-weight: 700;
}

.Signup_btn > button:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.Signup_Signup {
  background-color: #283593;
}

.Signup_back {
  background-color: #00695c;
}

/* 메인 페이지 스타일시트 ( Main.js ) */

.Main {
  display: grid;
  top: 130px;
}

.Main_container {
  display: grid;
  top: 150px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.Main_btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 50px 20px 0 20px;
  gap: 50px;
}
.Main_category_btn {
  padding: 10px 0px;
}

.Main_post_btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  color: #ff94c2;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s ease-in-out;

  /* &:hover {
    transform: rotateZ(180deg);
    color: saddlebrown;
  }
  &:active {
    color: darkslategray; */
}
.Main_post_btn:hover {
  transform: rotateZ(180deg);
  color: #6a1b9a;
}
.Main_post_btn:active {
  color: brown;
}

.Main_btn > button {
  background-color: lavender;
  border: 2px solid #b39ddb;
  border-radius: 10px;
  background-color: #b39ddb;
  box-shadow: 0px 2px 3px 0px black;
  font-size: 19px;
  font-family: "SuncheonB";
  font-weight: 700;
}

.Main_btn > button:hover {
  background-color: #7e57c2;
  cursor: pointer;
}
.Card_container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, minmax(100px, auto));
  flex-wrap: wrap;
  gap: 50px;
}

.Main_Card {
  display: grid;

  padding: 10px;
  border: 2px solid #a156d3;
  border-radius: 20px;
  box-shadow: 0px 2px 3px 0px;
  background-color: snow;
  width: 300px;
  height: 300px;
}

.Main_Card:hover {
  transform: scale(1.01);
}

.Main_Catagory {
  text-align: center;
  margin: 10px auto auto auto;
}

.Main_Card_title {
  /* border:1px solid black; */
  font-size: 25px;
  text-align: center;
  width: 80%;
  margin: 10px auto auto auto;
}

.Main_imgBox {
  border: 2px solid #a156d3;
  border-radius: 10px;

  width: 300px;
  height: 200px;
  top: 20px;
  left: 20px;
}

.Main_title {
  text-align: center;
  margin: 20px;
  /* border: 1px solid black; */
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: lavender;
}

.Header_btn > div > button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  font-family: "SuncheonB";
  font-weight: 700;
  border-radius: 10px;
  color: white;
  background-color: #ff94c2;
  border: 2px solid #e1bee7;
}

.Header_btn > div > button:hover {
  transform: scale(1.3);
  background-color: #6a1b9a;
}

.Header_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header_title {
  cursor: pointer;
}

.header_title:first-letter {
  font-size: 50px;
  color: #7e57c2;
}

.header_title > span {
  font-size: 17px;
  color: #ff94c2;
  margin-left: 10px;
}

.comment-opt {
  display: flex;
}

.C_wrap {
  width: 100%;
  height: 40%;
  border: 1px solid black;
  background-color: #b2dfdb;
  border-radius: 11px;
  margin: 10px 0px 15px 0px;
}

.C_p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.C_title {
  text-align: left;
  padding: 20px;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
}

.C_title > div > button {
  margin-left: 15px;
  width: 70px;
  height: 30px;
  font-size: 16px;
}

.C_title > div > button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.position {
  position: relative;
  bottom: 40px;
}

.bt_insert {
  background-color: #166cea;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-family: "SuncheonB";
}

.bt_delete {
  background-color: #ec407a;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-family: "SuncheonB";
}

.third-container {
  display: flex;
  justify-content: space-around;
}

.Post_container {
  display: flex;
  justify-content: space-around;
}

.imagebox {
  width: 237px;
  height: 270px;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 2px 1px 10px 1px rgb(0 0 0 / 10%);
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
